@import "../global/variables.scss";

.about {
    width: 1300px;
  }
  
  .about__title {
  }
  
  .title {
    font-family: $inter;
    font-size: 65px;
    font-weight: 900;
    line-height: 77.45px;
    text-align: center;
    color: #060606;
    margin-bottom: 35px;
  }
  
  .about__img {
  }
  
  .about__text {
  }
  .about__desc {
  }
  
  .description {
    font-family: $inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: justify;
    color: #000000;
  }
  
  .about__jpg {
  }
  